.cart-counter{
    border-radius: 50%;
    font-size: 0.5rem;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 55px;    
    top: 27px;
    background-color: rgb(238 205 211)!important;
}