:root {
    --primary: rgb(255, 202, 104);
}
.navbar{
    background-color: black!important;
}
.img-logo{
    width: 40px;
}
.container-navbar{
    padding: 0 10px!important;
    max-width: 100%!important;
    margin-left: 2%!important;
}
.link{
    color: rgba(255,255,255,.55);
    padding: 8px;
    text-decoration: none;
}
.link:hover{
    color: var(--primary)!important;
}
.link:focus{
    color: var(--primary)!important;
}
.active{
    color: var(--primary)!important;
}
.dropdown-item:hover{
    background-color: rgb(197, 197, 197)!important;
}