// TYPOGRAPHY

body {
    font-family: "Poppins", Arial, sans-serif;
}
$font-family-base: "Poppins";
$headings-font-family: "Poppins";
$headings-font-weight: 800;

.textUppercase{
    text-transform: uppercase;
    text-decoration: none;
}

.textLowercase{
    text-transform: lowercase!important;
    margin: 0 1%;
}

.bold{
    font-weight: bold;
}

.small{
    font-size: .6rem!important;
}