// TYPOGRAPHY

body {
    font-family: "Poppins", Arial, sans-serif;
}
$font-family-base: "Poppins";
$headings-font-family: "Poppins";
$headings-font-weight: 800;

.textUppercase{
    text-transform: uppercase;
}